# Advanced Data Analysis Techniques

The goal of this notebook is to get familiar with the even more advanced SQL commands
- Window functions
- Subqueries
- Common Table Expressions (CTE)

## Window functions

In [0]:
SELECT
    tpep_pickup_datetime,
    fare_amount,
    SUM(fare_amount) OVER (ORDER BY tpep_pickup_datetime) AS running_total_fare
FROM
    samples.nyctaxi.trips
WHERE DATE(tpep_pickup_datetime) = '2016-01-01' -- Filter for a specific date to make the output manageable
LIMIT 10;

## Common Table Expressions

In [0]:
WITH
  DailyTripCounts AS (
    SELECT
        DATE(tpep_pickup_datetime) AS trip_date,
        COUNT(*) AS num_trips
    FROM
        samples.nyctaxi.trips
    GROUP BY
        trip_date
)
SELECT
    trip_date,
    num_trips
FROM
    DailyTripCounts
ORDER BY
    trip_date;

In [0]:
-- EXERCISE

-- Calculate the average trip distance by day of the week
-- Hint: use the `DAYOFWEEK` function

## Subqueries

In [0]:
SELECT * FROM samples.nyctaxi.trips
WHERE fare_amount > (
  SELECT AVG(fare_amount) FROM samples.nyctaxi.trips
);