# SQL Basics

The goal of this notebook is to get familiar with the basic SQL commands
- `SELECT * FROM`
- `WHERE`
- `INSERT INTO`
- `UPDATE`
- `DELETE`

## Create table

We will use the already available dataset `nyctaxi.trips`. However, this is read-only, so we can't edit this table. To circumvent this, we'll create our own copy of this table that we _are_ allowed to edit.

In [0]:
CREATE OR REPLACE TABLE my_catalog.nyctaxi.trips AS
SELECT
	row_number() OVER (ORDER BY 1) AS trip_id,
	*
FROM samples.nyctaxi.trips;

## Show all rows in the table

In [0]:
SELECT * FROM my_catalog.nyctaxi.trips LIMIT 10;

## Filter the table using `WHERE`

In [0]:
SELECT * FROM my_catalog.nyctaxi.trips WHERE fare_amount > 5 LIMIT 10;

## Add a row to the table using `INSERT INTO`

In [0]:
INSERT INTO my_catalog.nyctaxi.trips 
VALUES 
(99999, '2025-02-10 08:00:00', '2025-02-10 08:30:00', 5.2, 20.5, 10001, 10002);

## `UPDATE` a field in the table for a single row

In [0]:
UPDATE my_catalog.nyctaxi.trips
SET fare_amount = 25.0
WHERE trip_id = 99999;

## `DELETE` a single row of our table

In [0]:
DELETE FROM my_catalog.nyctaxi.trips
WHERE trip_id = 99999;

## Adding non-SQL code

In [0]:
%python
print("Hello world!")

In [0]:
SELECT * FROM samples.nyctaxi.trips LIMIT 10;

## Access the above results

In [0]:
%python
display(_sqldf)

In [0]:
%python
print("Hello world!")